* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background-color: rgb(151, 89, 153);
}

/* BOX START  */
.box-nav {
  padding: 3pc;
  width: 370px;
  height: 350px;
  background-color: beige;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2pc;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ul li {
  /* width: 170px; */
  padding-left: 1pc;
  padding-top: 10px;
  /* height: 30px; */
  border: solid 1px black;
  margin-bottom: 1pc;
  border-radius: 10px;
  padding: 1pc;
  list-style: none;
}

ul li:hover {
  background-color: rgba(67, 177, 67, 0.849);
}

.shkala {
  height: 10px;
  background-color: blue; 
}

.shkala_inner {
  height: 100%;
  border: solid 1px rgb(0, 0, 0);
   border-radius: 10px;

}
/* BOX END  */

/* RESULT  START  */
.result-nav img {
  width: 150px;
  height: 150px;
}

.result-nav {
  width: 400px;
  height: 300px;
  background-color: beige;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1pc;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.result-nav button {
  width: 70px;
  height: 40px;
  background-color: rgba(151, 89, 153, 0.568);
  border-radius: 20px;
}
/* RESULT END  */
